name: Print Environment Variables

on:
  push:
    branches:
      - main  # Mude para o nome da sua branch principal, se necessário

jobs:
  print-env:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Print environment variables
      run: |
        bash +x ./.github/workflows/bash.sh
        # Adicione outras variáveis de ambiente conforme necessário
